#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.title-table {
    position: sticky;
    top: 0;
    padding-top: 3px;
}

#customers td {
    // text-overflow: ellipsis !important;
    border: 1px solid #eee;
    padding: 8px;
}
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ffeaa7;
    transition-duration: 0.4s !important;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3498db;
    color: white;
    // .action-colum {
    //     width: 150px;
    // }
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}
.pagination > .active > a {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}
.pagination > li > a {
    border: 1px solid #3498db;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #3498db;
    border-color: #3498db;
    outline: none;
}
.pagination > li > a,
.pagination > li > span {
    color: #3498db;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: unset;
}

.action-row {
    padding: 0 !important;
    // display: flex;
}

.btn-edit {
    // border: 1px solid red !important;
    background-color: #e67e22 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;
    // border: 1px solid #eee !important;

    &:hover {
        background-color: #be681c !important;
        color: #fff;
    }
}

.btn-view {
    // border: 1px solid red !important;
    background-color: #2ecc71 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;
    // border: 1px solid #eee !important;

    &:hover {
        background-color: #27ae60 !important;
        color: #fff;
    }
}

.btn-form {
    // border: 1px solid red !important;
    background-color: #2ecc71 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;
    // border: 1px solid #eee !important;

    &:hover {
        background-color: #27ae60 !important;
        color: #fff;
    }
}

.btn-check {
    // border: 1px solid red !important;
    background-color: #2ecc71 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;
    // border: 1px solid #eee !important;

    &:hover {
        background-color: #27ae60 !important;
        color: #fff;
    }
}

.btn-delete {
    // border: 1px solid red !important;
    background-color: #e74c3c !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;
    // border: 1px solid #eee !important;

    &:hover {
        background-color: #c74233 !important;
        color: #fff !important;
    }
}

.manage-job-requirements-container {
    .statistic-form {
        border: 1px solid #eee !important;
        background-color: #ecf0f1;
        border-radius: 8px;
        padding: 15px;
    }

    .input-container {
        width: 30%;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        margin: 0px 0px 20px;
        margin-left: 18.5px !important;

        label {
            margin: 0px 0px 5px;
        }

        input {
            height: 46px !important;
            color: #747d8c;
            border-radius: 30px;
            border: 1px solid #3498db;
            transition-duration: 0.4s;
            padding: 10px 16px;
            outline: none;
            width: 23%;
            height: 30px;

            &:focus {
                width: 100%;
                // border: 1px solid #00b894;
            }
        }
    }

    .btn-primary {
        margin-left: 15px;
        background-color: #fdcb6e !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #d4aa5c !important;
            color: #fff;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-secondary {
        margin-left: 15px;
        background-color: #e17055 !important;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #bd5e46 !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-third {
        margin-left: 15px;
        background-color: #00b894 !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #009578 !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-fourth {
        margin-left: 15px;
        background-color: #e84393 !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #c7397e !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
}

.modal-user-container {
    .modal-content {
        outline: none !important;
        box-shadow: none !important;
        border: none;

        .modal-header {
            padding: 0 10px;
            height: 59px !important;
            background-color: #00b894 !important;
            color: #fff !important;
            border: none;

            button {
                background-color: transparent !important;
                border: none;
                color: white;
                font-size: 25px;
            }

            .modal-title {
                font-weight: 600 !important;

                .fa-address-card {
                    margin-left: 10px;
                    margin-right: 8px;
                }

                .fa-map-marker-alt {
                    margin-left: 10px;
                    margin-right: 8px;
                }

                .fa-building {
                    margin-left: 10px;
                    margin-right: 8px;
                }
            }
        }
    }

    .modal-body {
        padding: 30px 20px;
        .modal-user-body {
            display: flex;
            gap: 15px;
            // margin: 20px 0px 20px 0px;

            .input-container {
                width: 50%;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 20px;

                label {
                    margin: 0px 0px 5px;
                }

                input {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }
                }

                select {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }

                    .option {
                        height: 46px !important;
                        color: #747d8c;
                        border-radius: 8px;
                        border: 1px solid #eee;
                        transition-duration: 0.4s;
                        padding: 10px 16px;
                        outline: none;
                        height: 30px;

                        &:focus {
                            border: 1px solid #00b894;
                        }
                    }
                }
            }
        }

        .sigal-input {
            // border-top: 1px solid rebeccapurple;
            display: flex;
            gap: 15px;
            // margin: 20px 0px 20px 0px;

            .input-container {
                width: 100%;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 20px;

                label {
                    margin: 0px 0px 5px;
                }

                input {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }
                }

                select {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }

                    .option {
                        height: 46px !important;
                        color: #747d8c;
                        border-radius: 8px;
                        border: 1px solid #eee;
                        transition-duration: 0.4s;
                        padding: 10px 16px;
                        outline: none;
                        height: 30px;

                        &:focus {
                            border: 1px solid #00b894;
                        }
                    }
                }
            }
        }

        .sigal-line {
            // border-top: 2px solid #00b894;
            background-color: #00b894;
            border-radius: 30px;
            height: 40px;
            display: flex;
            gap: 15px;
            // margin: 20px 0px 20px 0px;

            .input-container {
                // border: 1px solid red;
                width: 100%;
                font-weight: 600;
                text-align: center;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: #fff;
                display: flex;
                flex-direction: column;
                // margin: 5px 0px 20px;
                margin: auto;

                label {
                    margin: 0px 0px 5px;
                }

                input {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }
                }

                select {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }

                    .option {
                        height: 46px !important;
                        color: #747d8c;
                        border-radius: 8px;
                        border: 1px solid #eee;
                        transition-duration: 0.4s;
                        padding: 10px 16px;
                        outline: none;
                        height: 30px;

                        &:focus {
                            border: 1px solid #00b894;
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        .btn-primary {
            background-color: #00b894;
            border-radius: 20px;
            transition-duration: 0.4s;

            &:hover {
                background-color: #01a181 !important;
            }

            .fa-check {
                margin-right: 6px;
            }
        }
        .btn-secondary {
            background-color: #ff7675;
            border-radius: 20px;
            transition-duration: 0.4s;

            &:hover {
                background-color: #c75a5a !important;
            }

            .fa-times {
                margin-right: 6px;
            }
        }
    }
}
