#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.title-table {
    position: sticky;
    top: 0;
    padding-top: 3px;
}

#customers td {
    // text-overflow: ellipsis !important;
}

.diachi-nguoidung {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ffeaa7;
    transition-duration: 0.4s !important;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3498db;
    color: white;
    // .action-colum {
    //     width: 150px;
    // }
}

.action-row {
    padding: 0 !important;
}

.btn-edit {
    // border: 1px solid red !important;
    background-color: #e67e22 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;

    &:hover {
        background-color: #be681c !important;
        color: #fff;
    }
}

.btn-check {
    // border: 1px solid red !important;
    background-color: #2ecc71 !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;

    &:hover {
        background-color: #27ae60 !important;
        color: #fff;
    }
}

.btn-download-xlsx {
    // border: 1px solid red !important;
    background-color: #fff !important;
    border: none;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: #3498db !important;
    transition-duration: 0.3s;

    &:hover {
        background-color: #eee !important;
    }
}

.btn-delete {
    // border: 1px solid red !important;
    background-color: #e74c3c !important;
    width: 50%;
    height: 37px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition-duration: 0.3s;

    &:hover {
        background-color: #c74233 !important;
        color: #fff !important;
    }
}

.manage-student-container {
    .btn-download-xlsx {
        border: 1px solid #3498db !important;
        background-color: #ecf0f1 !important;
        border: none;
        border-radius: 8px;
        outline: none;
        background: transparent;
        color: #3498db !important;
        transition-duration: 0.3s;

        &:hover {
            background-color: #3498db !important;
            color: #fff !important;
        }
    }

    .btn-upload-xlsx {
        border: 1px solid #e67e22 !important;
        border-style: dashed !important;
        background-color: #ecf0f1 !important;
        border: none;
        border-radius: 8px;
        outline: none;
        background: transparent;
        color: #e67e22 !important;
        transition-duration: 0.3s;
        input {
            button {
                display: none !important;
            }
        }
        label {
            background-color: #3498db;
            color: white;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .statistic-form {
        border: 1px solid #eee !important;
        background-color: #ecf0f1;
        &.border-1px {
            border-left: 1px solid #bdc3c7 !important;
        }
    }

    .add-new-student-right {
        border: 1px solid #eee;
        background: #ecf0f1;
        color: #2d3436;
        border-radius: 8px;
        padding: 15px;
    }

    .input-container {
        width: 30%;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px;
        margin-left: 18.5px !important;

        label {
            margin: 0px 0px 5px;
        }

        input {
            height: 30px !important;
            color: #747d8c;
            border-radius: 30px;
            border: 1px solid #3498db;
            transition-duration: 0.4s;
            padding: 10px 16px;
            outline: none;
            width: 23%;
            height: 30px;

            &:focus {
                width: 100%;
                // border: 1px solid #00b894;
            }
        }
    }

    .btn-primary {
        margin-left: 15px;
        background-color: #fdcb6e !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #d4aa5c !important;
            color: #fff;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-secondary {
        margin-left: 15px;
        background-color: #e17055 !important;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #bd5e46 !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-third {
        margin-left: 15px;
        background-color: #00b894 !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #009578 !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
    .btn-fourth {
        margin-left: 15px;
        background-color: #e84393 !important;
        color: #fff;
        border-radius: 1rem;
        transition-duration: 0.4s;
        box-shadow: none;

        &:hover {
            background-color: #c7397e !important;
        }

        .fa-plus {
            margin-right: 3px;
        }
    }
}

.modal-user-container {
    .modal-content {
        outline: none !important;
        box-shadow: none !important;
        border: none;

        .modal-header {
            padding: 0 10px;
            height: 59px !important;
            background-color: #00b894 !important;
            color: #fff !important;
            border: none;

            button {
                background-color: transparent !important;
                border: none;
                color: white;
                font-size: 25px;
            }

            .modal-title {
                font-weight: 600 !important;

                .fa-address-card {
                    margin-left: 10px;
                    margin-right: 8px;
                }
            }
        }
    }

    .modal-body {
        padding: 30px 20px;
        .modal-user-body {
            display: flex;
            gap: 15px;
            // margin: 20px 0px 20px 0px;

            .input-container {
                width: 50%;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 20px;

                label {
                    margin: 0px 0px 5px;
                }

                input {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }
                }
            }
        }

        .sigal-input {
            display: flex;
            gap: 15px;
            // margin: 20px 0px 20px 0px;

            .input-container {
                width: 100%;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 20px;

                label {
                    margin: 0px 0px 5px;
                }

                input {
                    height: 46px !important;
                    color: #747d8c;
                    border-radius: 8px;
                    border: 1px solid #eee;
                    transition-duration: 0.4s;
                    padding: 10px 16px;
                    outline: none;
                    height: 30px;

                    &:focus {
                        border: 1px solid #00b894;
                    }
                }
            }
        }
    }

    .modal-footer {
        .btn-primary {
            background-color: #00b894;
            border-radius: 20px;
            transition-duration: 0.4s;

            &:hover {
                background-color: #01a181 !important;
            }

            .fa-check {
                margin-right: 6px;
            }
        }
        .btn-secondary {
            background-color: #ff7675;
            border-radius: 20px;
            transition-duration: 0.4s;

            &:hover {
                background-color: #c75a5a !important;
            }

            .fa-times {
                margin-right: 6px;
            }
        }
    }
}
